*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

/* HEADER */
#header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(62,107,253,.25);
    padding: 0 60px 0 60px;
    height: 80px;
}

/* LOGO */
.logo img{
    height: 55px ;
}

/* NAVBAR */
.navbar ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar ul a{
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}
.navbar ul a:hover{
    color: #000;
}
